@font-face {
  font-family: Poppins-Light;
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3 {
  margin: 0;
  font-family: Poppins-Light;
}

body {
  background-color: #22252c;
  color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}

/**********/
/* header */
/**********/

header {
  background-image: linear-gradient(to right, #0f9bb3, #30bb72);
  justify-content: space-between;
  padding: 1em 1.2em;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

nav {
  display: none;
}
button {
  cursor: pointer;
}
main {
  padding: 30px 12px;
  background-color: #383b42;
  position: relative;
  margin: auto;
  max-width: 570px;
}
/********/
/* Menu */
/********/

.menu-btn {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  z-index: 2;
  position: relative;
}
.menu-btn.clicked {
  background-image: linear-gradient(to right, #0f9bb3, #30bb72);
}
.menu-btn-burger {
  position: absolute;
  width: 30px;
  height: 5px;
  background: #2ab57f;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  background: #2ab57f;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-10px);
}
.menu-btn-burger::after {
  transform: translateY(10px);
}

ul {
  padding: 0;
  margin: 0;
  margin-top: 120px;
}
li {
  padding: 0;
  margin: 0;
  width: 90vh;
  list-style: none;
  font-size: 2rem;
  padding: 0.5em 1em;
  border-top: 1px solid #2ab57f;
  cursor: pointer;
}

li:hover,
li:active,
li:focus {
  background: #30bb72;
  color: #fff;
}

.menu {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  height: 100vh;
  width: 90%;
  background: #fff;
  color: #2ab57f;
  justify-content: flerx-start;
  z-index: 1;
  transition: transform 0.7s ease;
}
.menu-btn {
  display: flex;
}
.menu.open {
  transform: translateX(0);
  transition: transform 1s ease;
}

/*************/
/* Animation */
/*************/
.menu-btn.clicked .menu-btn-burger {
  transform: translateX(-42px);
  background: transparent;
}
.menu-btn.clicked .menu-btn-burger::before {
  transform: rotate(45deg) translate(30px, -30px);
  background: #fff;
}
.menu-btn.clicked .menu-btn-burger::after {
  transform: rotate(-45deg) translate(30px, 30px);
  background: #fff;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 15px 7px;
  }
  header {
    background-image: linear-gradient(to right, #0f9bb3, #30bb72);
    border-radius: 3em;
    justify-content: space-between;
    margin-block-end: 0.8rem;
    padding: 0.75em 0rem 0.75em 4rem;
  }
  main {
    max-width: unset;
  }
  h1 {
    font-size: 1.1rem;
  }
  nav {
    display: block;
  }
  .menu {
    display: none;
  }
  .menu-btn {
    display: none;
  }

  header nav {
    font-size: 1.1rem;
    margin-inline-end: 2.5rem;
  }
  .nav-btns {
    display: flex;
  }
  .nav-btns > div {
    padding: 0.25em 1em;
    font-family: Poppins-regular;
  }

  .nav-btns > .gallery-btn {
    color: #25a77e;
    background-color: #fff;
    border-radius: 3em;
    margin-inline-end: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  header nav {
    font-size: 1.1rem;
    margin-inline-end: 190px;
  }
}

main {
  padding: 30px 12px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
}

.img-container {
  overflow: hidden;
}

canvas {
  background: #fff;
  border: 6px solid #2b2d33;
  border-radius: 25px;
}

.editor-controls {
  width: 500px;
  height: 550px;
  max-height: 550px;
  padding: 1em;
  border: 6px solid #2b2d33;
  border-radius: 25px;
  gap: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

input {
  font-size: 20px;
  width: 420px;
  padding: 0.7rem 1rem;
  border-radius: 3em;
  font-size: 1.5rem;
  background-color: #ebeef3;
  outline: none;
  border: none;
}

.text-controls {
  display: flex;
  gap: 20px;
}
.text-controls button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
}
.text-controls img {
  height: 30px;
  object-fit: contain;
}
.arrow-up {
  transform: rotate(-90deg);
}
.arrow-down {
  transform: rotate(90deg);
}
.move-text {
  background-color: #47b4d1;
}
.add-text {
  background-color: #3ccc52;
}
.delete-text {
  background-color: #df3637;
}

.controls-grid {
  display: grid;
  grid-template-columns: repeat(5, 55px);
  grid-template-rows: repeat(2, 55px);
  gap: 20px;
  background-color: #19a59f;
  color: #22252c;
  padding: 1rem 0.7rem;
  border-radius: 10px;
}
.controls-grid img {
  height: 25px;
  object-fit: contain;
}

.controls-grid button,
select {
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 5px 0px 0px rgba(62, 125, 122, 1);
  cursor: pointer;
}
select {
  text-indent: 20px;
}

.item-6 {
  grid-column: 1/4;
}
.item-8 {
  position: relative;
}
.color {
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 5px;
  cursor: pointer;
  background-color: transparent;
  padding: 28px;
}

.stickers {
  display: flex;
  background-color: #fff;
  color: #000;
  border-radius: 3rem;
  justify-content: space-between;
  width: 380px;
  padding: 10px 20px;
  gap: 10px;
}
.stickers img {
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.stickers button {
  background-color: #fff;
  border-radius: 3rem;
  border: none;
}

.export {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}
.export img {
  height: 15px;
  width: 15px;
  cursor: pointer;
  margin: 0 10px;
}

.share {
  background-color: #1e7cd3;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  height: 60px;
  max-width: 50%;
  width: 220px;
  min-width: 170px;
}
.download {
  text-align: center;
  line-height: 60px;
  background-color: #8f44bb;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  height: 60px;
  max-width: 50%;
  width: 220px;
  min-width: 170px;
}

/**********/
/* helpers */
/***********/

.flex {
  display: flex;
}
.center {
  align-items: center;
  align-content: center;
}
