/* 
body background color: #22252c
main section background color: #383b42

main gradient start color: #0f9bb3
main gradient end color: #30bb72

nav accsent color: #fff

serch bar background color: #22252c
serch bar text color: #76787c

scroll bar background color: #22252c

keywords background color: #87898d
keywords color: #fefefe
*/

@font-face {
  font-family: Poppins-Light;
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3 {
  margin: 0;
  font-family: Poppins-Light;
}

body {
  background-color: #22252c;
  color: #fff;
  height: 100vh;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}

/**********/
/* header */
/**********/

header {
  background-image: linear-gradient(to right, #0f9bb3, #30bb72);
  justify-content: space-between;
  padding: 2em;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.nav-btns > a {
  padding: 0.25em 1em;
  font-family: Poppins-regular;
}

.nav-btns > :first-child {
  color: #25a77e;
  background-color: #fff;
  border-radius: 3em;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 15px 7px;
  }
  header {
    background-image: linear-gradient(to right, #0f9bb3, #30bb72);
    border-radius: 3em;
    justify-content: space-between;
    margin-block-end: 16px;
    padding: 0.75em 80px;
  }
  h1 {
    font-size: 1.1rem;
  }
  header nav {
    font-size: 1.1rem;
    margin-inline-end: 50px;
  }
}
@media only screen and (min-width: 1080px) {
  header nav {
    font-size: 1.1rem;
    margin-inline-end: 190px;
  }
}

/**********/
/*  main  */
/**********/

main {
  padding: 30px 12px;
  background-color: #383b42;
}

.img-container img {
  width: 100%;
  object-fit: contain;
}

.gallery-controls {
  flex-direction: column;
  justify-content: space-around;
  margin-block-end: 50px;
  gap: 15px;
}
form {
  position: relative;
}

.search {
  font-size: 1.1rem;
  width: 100%;
  background-color: #22252c;
  color: #76787c;
  padding: 0.8em;
  border-radius: 3em;
  border: none;
  outline: none;
  text-indent: 50px;
}
.search:focus {
  text-indent: 0;
}

.search-btn {
  position: absolute;
  right: 0;
  border-radius: 3em;
  border: none;
  background-color: transparent;
  padding: 1.8em 3em;
}
.keywords-controls {
  justify-content: space-between;
}
.keywords {
  background-color: #87898d;
  color: #fefefe;
  padding: 0.5rem 1rem;
  border-radius: 3em;
  max-width: 80%;
}

.keywords a {
  /* margin-inline-end: 10px; */
  margin-inline-end: 5px;
}
.keywords a:last-of-type {
  margin-inline-end: 0;
}

.more {
  padding: 0.2rem 1.3rem;
  background-image: linear-gradient(to right, #0f9bb3, #30bb72);
  border-radius: 3em;
  max-width: 20%;
  min-width: 100px;
  max-height: 40px;
  margin-inline-start: 10px;
}

.grid-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 250px));
  grid-auto-rows: 250px;
  gap: 20px;
  justify-content: center;
}

.img-container img {
  border-radius: 10px;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.34);
}

@media only screen and (min-width: 768px) {
  .search {
    max-width: 90%;
  }
}

@media only screen and (min-width: 1040px) {
  .gallery-controls {
    flex-direction: row;
  }
  .grid-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 170px));
    grid-auto-rows: 170px;
    gap: 20px;
    justify-content: center;
    max-width: 1260px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  /* Scroll Bar */
  ::-webkit-scrollbar {
    width: 13px;
  }

  ::-webkit-scrollbar-track {
    background: #22252c;
    border-radius: 3rem;
  }

  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, #0f9bb3, #30bb72);
    border-radius: 3rem;
  }
}
/**********/
/* helpers */
/***********/

.flex {
  display: flex;
}
.center {
  align-items: center;
  align-content: center;
}
