@font-face {
  font-family: Poppins-Light;
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3 {
  margin: 0;
  font-family: Poppins-Light;
}

body {
  background-color: #22252c;
  color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}

/**********/
/* header */
/**********/

header {
  background-image: linear-gradient(to right, #0f9bb3, #30bb72);
  justify-content: space-between;
  padding: 1em 1.2em;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

nav {
  display: none;
}
main {
  padding: 30px 12px;
  background-color: #383b42;
  position: relative;
}
/********/
/* Menu */
/********/

.menu-btn {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  z-index: 2;
}
.menu-btn.clicked {
  background-image: linear-gradient(to right, #0f9bb3, #30bb72);
}
.menu-btn-burger {
  width: 30px;
  height: 5px;
  background: #2ab57f;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  background: #2ab57f;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-10px);
}
.menu-btn-burger::after {
  transform: translateY(10px);
}

ul {
  padding: 0;
  margin: 0;
  margin-top: 120px;
}
li {
  padding: 0;
  margin: 0;
  width: 90vh;
  list-style: none;
  font-size: 2rem;
  padding: 0.5em 1em;
  border-top: 1px solid #2ab57f;
  cursor: pointer;
}

li:hover,
li:active,
li:focus {
  background: #30bb72;
  color: #fff;
}

.menu {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  height: 100vh;
  width: 90%;
  background: #fff;
  color: #2ab57f;
  justify-content: flerx-start;
  z-index: 1;
  transition: transform 0.7s ease;
}
.menu-btn {
  display: flex;
}
.menu.open {
  transform: translateX(0);
  transition: transform 1s ease;
}

/*************/
/* Animation */
/*************/
.menu-btn.clicked .menu-btn-burger {
  transform: translateX(-42px);
  background: transparent;
}
.menu-btn.clicked .menu-btn-burger::before {
  transform: rotate(45deg) translate(30px, -30px);
  background: #fff;
}
.menu-btn.clicked .menu-btn-burger::after {
  transform: rotate(-45deg) translate(30px, 30px);
  background: #fff;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 15px 7px;
  }
  header {
    background-image: linear-gradient(to right, #0f9bb3, #30bb72);
    border-radius: 3em;
    justify-content: space-between;
    margin-block-end: 0.8rem;
    padding: 0.75em 0rem 0.75em 4rem;
  }
  h1 {
    font-size: 1.1rem;
  }
  nav {
    display: block;
  }
  .menu {
    display: none;
  }
  .menu-btn {
    display: none;
  }

  header nav {
    font-size: 1.1rem;
    margin-inline-end: 2.5rem;
  }
  .nav-btns {
    display: flex;
  }
  .nav-btns > div {
    padding: 0.25em 1em;
    font-family: Poppins-regular;
  }

  .nav-btns > .my-memes-btn {
    color: #25a77e;
    background-color: #fff;
    border-radius: 3em;
    margin-inline-end: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  body {
    height: 100vh;
    overflow: hidden;
  }
  header nav {
    font-size: 1.1rem;
    margin-inline-end: 190px;
  }
}

/***********/
/* Helpers */
/***********/

.flex {
  display: flex;
}
.center {
  align-items: center;
  align-content: center;
}
